.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #134383;
  border: 1px solid #2e4a6e;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #06244b;
  border-color: #60656b;
}